<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>FitNit</title>
  <link rel="icon" href="https://d30y9cdsu7xlg0.cloudfront.net/png/22889-200.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <link rel="stylesheet" href="/stylesheets/particles.css">
</head>

<body>
  <!-- particles.js container -->
<div id="particles-js"></div>
<div id="landing-header">
    <h1>Welcome to FitNit!</h1>
	  <a href="/workout-programs" class="btn btn-lg btn-success">View Programs</a>
</div>

<!-- stats - count particles -->
<!--<div class="count-particles">-->
<!--  <span class="js-count-particles">--</span> particles-->
<!--</div>-->

<!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->
<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>

<!--<script src='http://threejs.org/examples/js/libs/stats.min.js'></script>-->
<script src="js/particles.js"></script>

</body>
</html>
