<% include ./partials/header %>
    <div class="row margin-top-25">
        <h1 style="text-align: center">Sign Up</h1>
        <div class="width-30">
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="email" required>
                </div>
                <div class="form-group">
                    <label for="fName">First Name</label>
                    <input class="form-control" type="text" name="fName" placeholder="first name" required>
                </div>
                <div class="form-group">
                    <label for="lName">Last Name</label>
                    <input class="form-control" type="text" name="lName" placeholder="last name" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="radio" name="gender" value="male" required> Male<br>
                    <input type="radio" name="gender" value="female"> Female<br>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
        </div>
    </div>
<% include ./partials/footer %>