body {
	margin: 0;
    font-family: 'Raleway', Arial, sans-serif;
}

canvas {
	max-height: 800px;
	max-width: 800px;
}

div label {
	display: block;
}

select {
	height: 33.4px;
}

label[for=gender] {
	float: left;
	clear: none;
	display: block;
}

input[type=radio] {
	float: left;
	clear: none;
	margin: 3px 5px 0 10px;
}

a, a:hover, a:focus, a:active {
	color: #FF3B3F;
	text-decoration: none;
}

.row h1 {
	text-align: center;
}

.content {
	padding: 10px 50px 0 20px;
}

/*Fix textarea for responsiveness*/
.content textarea {
	width: 50%;
	height: 150px;
}

.width-45 textarea {
	width: 100%;
}

.accountTable {
	width: 80%;
	margin: 0 auto;
}

.measurementCell {
	width: 70%;
	margin: 50px auto;
}

.centerText {
	margin-top: 30px;
	text-align: center;
}

.delete-form{
    display: inline;
}

.width-45 {
	width: 45%;
	margin: 25px auto;
}

.width-30 {
	width: 30%;
	margin: 25px auto;
}

.width-60 {
	width: 60%;
	margin: 25px auto;
}

.set-input{
	float: left;
	width: 49%;
}

.rep-input {
	float: right;
	width: 49%;
}

.fa-minus-circle {
	display: none;
	margin-right: 10px;
}

.margin-bottom-100 {
	margin-bottom: 100px
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-25 {
	margin-top: 25px;
}

.well {
	background: #EFEFEF;
	border-color: #CAEBF2;
}

/*-----------------*/
/***** 	Table *****/
/*-----------------*/

/*Datable page selector color*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background: #CAEBF2;
	border-color: #CAEBF2;
	color: #555;
}

tr {
	background: #fff;
}

#showTable {
	width: 60%;
	margin: 50px auto 30px auto;
	border: 2px solid #CAEBF2;
}

.table>thead>tr>th {
	border-bottom-color: #CAEBF2;
}

.table>tbody>tr>td {
	border-top-color: #CAEBF2;
}

/*-----------------*/
/***** 	Btns *****/
/*-----------------*/

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus  {
	background: #FF3B3F;
	border: none;
	color: #fff;
	outline: none;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active:focus  {
	background: #FF3B3F;
	border: none;
	color: #fff;
	outline: none;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:active:focus  {
	background: #FF3B3F;
	border: none;
	color: #fff;
	outline: none;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus  {
	background: #3CC47C;
	border: none;
	color: #fff;
	outline: none;
}

.measurement-btn, .measurement-btn:active, .measurement-btn:focus, .measurement-btn:active:focus  {
	background: #FF3B3F;
	padding: 10px;
}

.backButton {
	display: block;
	margin-top: 10px;
}

.title-Button {
	margin-bottom: 40px;
}

.plus-minus-inputs {
	color: #A9A9A9;
	text-align: center;
	margin: 15px;
}

/*------------------------------*/
/***** 	Carosel & Jumbotron *****/
/*------------------------------*/

#carousel-example-generic {
	height: 400px;
}

#carousel-example-generic img {
	height: 400px;
	width: 100%;
}

.carousel-indicators li {
	background-color: #FF3B3F;
	border-color: #FF3B3F;
}

.carousel-indicators .active {
	background-color: #EFEFEF;
	border-color: #EFEFEF;
}

/*If the browser is smaller than 767px turn off carosel*/
@media (max-width: 767px) {
	.carosel-off-at-767 {
		display: none;
	}
}

.jumbotron {
	background: #CAEBF2;
}

#index-jumbotron {
	margin-bottom: 0;
}

/*If the browser is larger than 768px turn off jumbotron*/
@media (min-width: 768px) {
	.jumbotron-on-at-768 {
		display: none;
	}
}

/*--------------------------*/
/***** 	Comment Styles 	*****/
/*--------------------------*/
.comment-add-btn {
	width: 60px;
	margin-top: -10px;
}

.comments-border {
	border: 2px solid #CAEBF2;
	border-radius: 5px;
	padding: 15px 15px 10px 15px;
	margin: 10px 0 0 15px;
}

.comments-border-owner {
	border: 2px solid #FF3B3F;
	border-radius: 5px;
	padding: 15px 15px 10px 15px;
	margin: 10px 0 0 15px;
}

.author-blue {
	color: #3085a3;
	font-size: 12px;
}

#myChart {
	margin: 30px auto 60px auto;
}

#name-input {
	display: inline-block;
	width: 81.65%;
	margin-right: 10px;
}

#select-input {
	display: inline-block;
}

/*------------------*/
/***** 	Navbar 	*****/
/*------------------*/

.navbar {
	border: 0;
}

.navbar-default {
	background: #FF3B3F;
}

.navbar .navbar-nav > li > a {
    color: #fff;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: .1s all linear;
}

.navbar .navbar-nav > li:hover > a {
	background: #EFEFEF;
	color: #555;
}

.navbar-default .navbar-nav>.active>a {
	background: #EFEFEF;
	color: #555;
}

.navbar-header img {
	height: 30px;
	width: 30px;
	margin-top: -5px;
}

/*Dropdown menu*/
.dropdown-menu {
	background: #EFEFEF;
	border: none;
}

/*Make dropdown menu appear on hover on for screens with width 979px or larger*/
@media (min-width: 979px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

.dropdown-menu>li>a {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: .1s all linear;
}

.dropdown-menu>li>a:hover {
	background: #FF3B3F;
	color: #fff;
}

/*Mobile version*/
@media (max-width: 768px) {
	/*Sandwhich icon*/
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #EFEFEF;
	}
	
	.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
		background-color: #FF3B3F;
	}
	
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: #fff;
	}
	
	/*Options for dropdown*/
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		background-color: #EFEFEF;
		color: #555;
	}
}	

/*---------------------*/
/***** Grid Layout *****/
/*---------------------*/

.grid {
	overflow: hidden;
	margin: 0 0 70px 0;
	padding: 3em 0 0 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.215em -0.135em -0.135em -0.135em;
	/*margin: -0.135em;*/
	width: 33.333%;
	height: 300px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	/*width based on 33% of #portfolio container's width*/
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure p {
	color: #FFFFFF;
}

.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 700;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	color: #FFFFFF;
}

@media screen and (max-width: 69.5em) {
	.grid figure {
		width: 50%;
	}	

	.grid figure figcaption {
		font-size: 90%;
	}
}

@media screen and (max-width: 41.5em) {

	.grid figure {
		width: 100%;
	}
}

/*---------------*/
/***** Romeo *****/
/*---------------*/

figure.effect-romeo {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

figure.effect-romeo img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,300px);
	transform: translate3d(0,0,300px);
}

figure.effect-romeo:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 1px;
	background: #fff;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

figure.effect-romeo:hover figcaption::before {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}

figure.effect-romeo:hover figcaption::after {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
	transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

figure.effect-romeo h2,
figure.effect-romeo p {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-romeo h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

figure.effect-romeo p {
	padding: 0.25em 2em;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

figure.effect-romeo:hover h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

figure.effect-romeo:hover p {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}