#landing-header {
    position: relative;
    
    /*This will get it centered horizontally*/
    text-align: center;
    /*This will get it centered vertically*/
    /*padding-top: 40vh;*/
    top: 42vh;
    
    /*border: 2px solid black;*/
	width: 730px;
	height: 180px;
	margin: -20px auto 0 auto;
}

#landing-header h1 {
    font-weight: 600;
    font-size: 80px;
    color: #fff;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus  {
	background: #FF3B3F;
	border: none;
	color: #fff;
	outline: none;
}