<% include ../partials/header %>
	<div id="carousel-example-generic" class="carousel slide carosel-off-at-767" data-ride="carousel">
		<!--Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
		</ol>
		<!--Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="https://i.imgur.com/NtB25Rj.png" draggable="false">
				</div>
			<div class="item">
				<img src="https://i.imgur.com/AKeOrNP.png" draggable="false">
		    </div>
		    <div class="item">
		    	<img src="https://i.imgur.com/wDmkswM.png" draggable="false">
		    </div>
		    <div class="item">
		    	<img src="https://i.imgur.com/LKoqnYJ.png" draggable="false">
		    </div>
		 </div>
		  <!--Controls -->
		 <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		 	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		 	<span class="sr-only">Previous</span>
		 	</a>
		 <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		 	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		 	<span class="sr-only">Next</span>
		 </a>
	</div>
	<header id="index-jumbotron" class="jumbotron jumbotron-on-at-768 ">
	    <div class="container">
	        <h1>Welcome to FitNit!</h1>
	        <p>Check out some of our programs</p>
	    </div>
	</header>
	<div class="grid">
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/PS5RkFx.jpg" draggable="false">
			<figcaption>
				<h2><span>Chest</span></h2>
				<a href="/workout-programs/chest">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/pyqmqBQ.jpg" draggable="false">
			<figcaption>
				<h2><span>Legs</span></h2>
				<a href="/workout-programs/legs">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/Jbzyv3r.jpg" draggable="false">
			<figcaption>
				<h2><span>Back</span></h2>
				<a href="/workout-programs/back">View more</a>
			</figcaption>			
		</figure><figure class="effect-romeo">
			<img src="https://i.imgur.com/Vx9QyNy.jpg" draggable="false">
			<figcaption>
				<h2><span>Shoulder</span></h2>
				<a href="/workout-programs/shoulder">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/iJizK3d.jpg" draggable="false">
			<figcaption>
				<h2><span>Arms</span></h2>
				<a href="/workout-programs/arms">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/AbwPWOF.jpg" draggable="false">
			<figcaption>
				<h2><span>Other</span></h2>
				<a href="/workout-programs/other">View more</a>
			</figcaption>			
		</figure>
	</div>
<% include ../partials/footer %>