<% include ../partials/header %>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to FitNit!</h1>
            <p>Check out our workout programs</p>
        </div>
    </header>
	<div class="grid">
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/PS5RkFx.jpg">
			<figcaption>
				<h2><span>Chest</span></h2>
				<a href="/workout-programs/chest">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/pyqmqBQ.jpg">
			<figcaption>
				<h2><span>Legs</span></h2>
				<a href="/workout-programs/legs">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/Jbzyv3r.jpg">
			<figcaption>
				<h2><span>Back</span></h2>
				<a href="/workout-programs/back">View more</a>
			</figcaption>			
		</figure><figure class="effect-romeo">
			<img src="https://i.imgur.com/Vx9QyNy.jpg">
			<figcaption>
				<h2><span>Shoulder</span></h2>
				<a href="/workout-programs/shoulder">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/iJizK3d.jpg">
			<figcaption>
				<h2><span>Arms</span></h2>
				<a href="/workout-programs/arms">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/AbwPWOF.jpg">
			<figcaption>
				<h2><span>Other</span></h2>
				<a href="/workout-programs/other">View more</a>
			</figcaption>			
		</figure>
	</div>
<% include ../partials/footer %>