<% include ../partials/header %>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to FitNit!</h1>
            <p>Check out our workout programs</p>
            <p>
                <a class="btn btn-primary btn-large" href="/workout-programs/new">Add New Program</a>
            </p>
        </div>
    </header>
	<div class="grid">
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/PS5RkFx.jpg">
			<figcaption>
				<h2><span>Chest</span></h2>
				<a href="#">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/pyqmqBQ.jpg">
			<figcaption>
				<h2><span>Leg</span></h2>
				<a href="#">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/Jbzyv3r.jpg">
			<figcaption>
				<h2><span>Back</span></h2>
				<a href="#">View more</a>
			</figcaption>			
		</figure><figure class="effect-romeo">
			<img src="https://i.imgur.com/Vx9QyNy.jpg">
			<figcaption>
				<h2><span>Shoulder</span></h2>
				<a href="#">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/iJizK3d.jpg">
			<figcaption>
				<h2><span>Arm</span></h2>
				<a href="#">View more</a>
			</figcaption>			
		</figure>
		<figure class="effect-romeo">
			<img src="https://i.imgur.com/AbwPWOF.jpg">
			<figcaption>
				<h2><span>Cardio</span></h2>
				<a href="#">View more</a>
			</figcaption>			
		</figure>
	</div>
<% include ../partials/footer %>