<% include ../partials/header %>
    <div class="row">
        <h1>Add a new Workout Program</h1>
        <div class="width-45">
            <form action="/workout-programs" method="POST">
                <div class="form-group">
                    <div id="name-input">
                        <label for="name">Program Name</label>
                        <input class="form-control" type="text" name="name" placeholder="name" maxlength="60" required>
                    </div>
                    <div id="select-input">
                        <label for="category">Body Part</label>
                        <select name="category" required>
                            <option selected disabled> </option>
                            <option value="chest">Chest</option>
                            <option value="legs">Legs</option>
                            <option value="back">Back</option>
                            <option value="shoulder">Shoulder</option>
                            <option value="arm">Arms</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" rows="15" placeholder="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="exercises">Exercise 1</label>
                    <input class="form-control" type="text" name="exercises" placeholder="name" maxlength="30" required>
                </div>
                <div class="form-group">
                    <label for="sets">Sets</label>
                    <input class="form-control" type="number" name="sets" placeholder="sets" min="1" max="20" step="1" required>
                </div>
                <div class="form-group">
                    <label for="reps">Reps</label>
                    <input class="form-control" type="text" name="reps" placeholder="reps" required>
                </div>
                <div class="plus-minus-inputs">
                    <i class="fa fa-minus-circle fa-2x"></i>
                    <i class="fa fa-plus-circle fa-2x"></i>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/workout-programs/<%= category %>">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>