<% include ../partials/header %>
    <div class="well">
        <h1><%= program.name %></h1>
        <p>
            <em>Submitted by: <%= program.author.username %>, <%= moment(program.createdAt).fromNow() %></em>
        </p>
    </div>
<% include ../partials/footer %>